@using RedSocial.Core.Application.ViewModels.Usuario;
@model SaveUserViewModel
@{
 
    ViewData["Title"] = "Registro";
}

<div class="container">
    <div class="col-6 offset-3">
        <h2>Registrate</h2>
        <form asp-controller="Account" asp-action="Registro" method="post" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="FirstName" class="form-label">Nombre</label>
                    <input asp-for="FirstName" class="form-control" placeholder="Nombre">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="LastName" class="form-label">Apellido</label>
                    <input asp-for="LastName" class="form-control" placeholder="Apellido">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input asp-for="UserName" class="form-control" placeholder="Usuario">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="Phone" class="form-label">Telefono </label>
                    <input asp-for="Phone" class="form-control" placeholder="Usuario">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña</label>
                    <input asp-for="ConfirmPassword"  class="form-control" placeholder="Contraseña">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="Photo" class="form-label fw-bold">Image profile</label>
                    <input required asp-for="Photo" class="form-control anotherDesign">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="Email" class="form-label">Correo</label>
                    <input asp-for="Email" class="form-control" placeholder="Correo">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-info w-100 py-2 mt-2" type="submit">Registrar</button>
           

        </form>
    </div>
</div>

